$primaryColor: gray;
$secondaryColor: rgb(239,78,138);
$fontColor: rgb(36, 36, 36);
$footerColor: white;
$menuColor: rgb(247, 98, 152);

$defaultFont: 'Poppins', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight:700;
$secondaryFont: 'Pacifico', cursive;
$gutter: 16px;